body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Хедер */

.nav-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-logo-hightlight {
    color: #2E2F42;
}

.nav-link {
    color: #2E2F42;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #404BBF;
}

.nav-contacts-link {
    color: #434455;
    font-weight: 500;
}

.nav-cont {
    font-style: normal
}

.nav-contacts-link:hover,
.nav-contacts-link:active,
.nav-contacts-link:focus {
    color: #404BBF;
}

/* Перша секція */

.tagline {
    background-color: #2E2F42;
}

.tagline-tittle {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-indent: 472px;
}

.tagline-btn {
    background: #4D5AE5;
    color: #FFFFFF;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.tagline-btn:hover,
.tagline-btn:active,
.tagline-btn:focus {
    background: #404BBF;
}




/* Переваги */


.list-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2
}

.list-text {
    color: #434455;
    font-weight: 400;
}




/* Команда */


.about-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize
}

.about {
    background-color: #F4F4FD;
}

.about-box {
    background-color: #FFFFFF;
}

.about-name {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
}

.about-job-title {
    color: #434455;
    text-align: center;
    font-weight: 400;
}




/* Портфоліо */

#portfolio {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.project-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
}

.project-type {
    color: #434455;
    font-weight: 400;
}


/* Футер */

.foot-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-weight: 700
}

.foot-logo-hightlight {
    color: #f4f4fd;
}


.afterwords {
    background-color: #2E2F42;
}

.afterwords-text {
    color: #F4F4FD;
    font-weight: 400;
}